#reordenable tr {
    cursor: move;
    cursor: pointer;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #sortable tr {
        cursor: move;
        cursor: pointer;
    }

#persona {
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}
.activo {
    color: blue;
}

.pasivo {
    color: red;
}

.acordeon-cuentas button{
    color: black !important;
    font-size: 20px;
}

    .acordeon-cuentas button > span {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

.acordeon-cuentas ul li {
    display: flex;
    justify-content: space-between;
}

.acordeon-cuentas .accordion-collapse {
    font-size: 18px;
}